# Database Configuration
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=soroban_indexer
DATABASE_URL=postgres://postgres:postgres@localhost:5432/soroban_indexer

# Stellar Network Configuration
RPC_URL=https://rpc-futurenet.stellar.org:443
NETWORK_PASSPHRASE="Test SDF Future Network ; October 2022"

# Ingester Configuration
START_LEDGER=0 # Start from 0 to ingest from the beginning, or set a specific ledger

# API Configuration
PORT=3000
